.error-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 30vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -webkit-scrollbar: none;
  -ms-overflow-style: none;
}
