.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  overflow-y: auto;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
}

thead {
  background-color: #242424;
  border-bottom: 2px solid #e0e0e0;
  color: #ededed;
  position: sticky;
  top: 0;
  z-index: 1;
}

tbody {
  /* background-color: #303030; */
  color: #ededed;
}

th,
td {
  padding: 0.5rem;
  text-align: center;
}
